<h1>Lisa's Farmers Market</h1>

<iframe width="350" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=portland%20state%20university%20farmers%20marke&key=AIzaSyCB0Jv-SG2YsOwKxS_00t61kxeojDYCGLA" allowfullscreen></iframe>

<h3>Hours and Location</h3>

{{add-vendor createVendor='saveVendor'}}
<br>

{{#each model as |vendor|}}
  {{#link-to 'vendor' vendor.id}}{{vendor.name}}{{/link-to}}
<button {{action 'deleteVendor' vendor}}>Delete</button>
{{/each}}
